sphinx==8.2.3
groundwork-sphinx-theme==1.1.1 # https://sphinx-themes.org/sample-sites/groundwork-sphinx-theme/
sphinx-autobuild==2024.10.3
Jinja2==3.1.6
importlib-metadata>=8.0.0,<9
sphinxcontrib-mermaid==1.0.0 # https://github.com/mgaitan/sphinxcontrib-mermaid
